.stw-customize-form {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border: 2px solid #3498db;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.stw-customize-form div {
    margin-top: 10px;
}

.stw-customize-form label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.stw-customize-form .stw-input {
    display: flex;
    justify-content: space-between;
}

#stw-title {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}

.stw-customize-form input[type="color"] {
    width: 20%;
    padding: 0;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.stw-customize-form input[type="text"],
.stw-customize-form input[type="number"] {
    width: 20%;
    padding: 0 6px;
    display: flex;
}

.stw-customize-form .text-input-pageid {
    width: 62%;
    padding: 0 6px;
    display: flex;
}

.stw-customize-form input[type="checkbox"] {
    margin-right: 10px;
}

.stw-customize-form input[type="submit"]:hover {
    background-color: #c0392b;
}

.stw-customize-form h3 {
    font-size: 24px;
    margin-top: 20px;
    color: #444;
}

.stw-customize-form table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.stw-customize-form .stw-th,
.stw-customize-form td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.form-table .stw-th {
    width: 50%;
}

.stw-customize-form .stw-th {
    background-color: #f2f2f2;
}
